.tabs_containrer {
    width: 30vw;
    height: 84vh;
}

.stops {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transportRoutes {
    display: flex;
    flex-direction: column;
    align-items: center;
}