.mapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapContainer_map {
    border: #001529 solid 2px;
    border-radius: 5px ;
    height: 700px;
    width: 100vmax;
}